{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 mt-14">
    <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <button class="text-2xl text-gray-600 dark:text-gray-400">
                Road Assistance
            </button>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="text-2xl text-gray-600 dark:text-gray-400">Mechanical Services</div>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="text-2xl text-gray-600 dark:text-gray-400">Vehicle Servicing</div>
        </div>
    </div>

    <div class="md:flex">
        <ul class="flex flex-col space-y-4 text-sm font-medium text-gray-600 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
            <li>
                <button type="button"
                        class="text-gray-700 border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                        :class="{'font-bold border-b': activeTab === 'activity'}"
                        @click="activeTab = 'activity'">
                  <span>Daily Activity</span> <b>{{ Allcar_services }}</b>
                </button>
            </li>
            <li>
                <button type="button"
                        class="text-gray-700 border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                        :class="{'font-bold border-b': activeTab === 'charts'}"
                        @click="activeTab = 'charts'">
                  <span>Charts</span>
                </button>
            </li>
            <li>
                <button type="button"
                        class="text-gray-700 border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                        :class="{'font-bold border-b': activeTab === 'Approvals'}"
                        @click="activeTab = 'Approvals'">
                  <span>Required Approvals</span>
                </button>
            </li>
            <li>
                <button type="button"
                        class="text-gray-700 border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                        :class="{'font-bold border-b': activeTab === 'provider'}"
                        @click="activeTab = 'provider'">
                  <span>Service Providers</span>
                </button>
            </li>
        </ul>

        <div class="flex-shrink-0 text-2xl mx-auto p-2 border border-gray-300 text-gray-600 dark:text-gray-400 rounded-lg shadow-md" v-show="activeTab === 'activity'">
            {% include 'tables.html' %}
        </div>
        <div class="flex-shrink-0 text-2xl mx-auto p-2 border border-gray-300 text-gray-600 dark:text-gray-400 rounded-lg shadow-md" v-show="activeTab === 'provider'">
            <!-- Content for Provider tab -->
        </div>
        <div class="flex-shrink-0 text-2xl mx-auto p-2 border border-gray-300 text-gray-600 dark:text-gray-400 rounded-lg shadow-md" v-show="activeTab === 'charts'">
            {% include "charts.html" %}
        </div>
    </div>
</div>
{% endblock body %}
