{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 mt-14">
    <div class="grid grid-cols-3 gap-4 mb-4">
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <button class="text-2xl text-gray-400 dark:text-gray-500">
            Road assistance
            </button>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="text-2xl text-gray-400 dark:text-gray-500">Mechanical Services
            </div>
        </div>
        <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800">
            <div class="text-2xl text-gray-400 dark:text-gray-500">Vehicule servicing</div>
        </div>
    </div>
    <div class="md:flex">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
        <li>
            <button type="button"
                    class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"
                    :class="{'text-blue-dark border-b border-blue-dark': activeTab === 'activity'}"
                    @click="activeTab = 'activity'">
              <span :class="{'font-bold': activeTab === 'activity'}">Daily activity</span>  <b>{{ Allcar_services }}</b>
            </button>
        </li>
        <li>
            <button type="button"
                    class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"
                    :class="{'text-blue-dark border-b border-blue-dark': activeTab === 'charts'}"
                    @click="activeTab = 'charts'">
              <span :class="{'font-bold': activeTab === 'charts'}">Charts</span>
            </button>
        </li>
        <li>
            <button type="button"
                    class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"
                    :class="{'text-blue-dark border-b border-blue-dark': activeTab === 'Approvals'}"
                    @click="activeTab = 'Approvals'">
              <span :class="{'font-bold': activeTab === 'Approvals'}">Required Approvals</span>
            </button>
        </li>
        <li>
            <button type="button"
                    class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800"
                    :class="{'text-blue-dark border-b border-blue-dark': activeTab === 'provider'}"
                    @click="activeTab = 'provider'">
              <span :class="{'font-bold': activeTab === 'provider'}">Service Providers</span> {% comment %} <b>{{Allproviders_online}}</b> {% endcomment %}
            </button>
        </li>
    </ul>
<div class="flex-shrink-0 text-2xl mx-auto p-2 border border-yellow-400 text-white dark:text-black-400 rounded-lg shadow-md" v-show="activeTab === 'activity'">
    {% include 'tables.html' %}  
</div>
<div class="flex-shrink-0 text-2xl mx-auto p-2  border border-blue-700 text-white dark:text-black-400 rounded-lg shadow-md" v-show="activeTab === 'provider'">
        
</div>
<div class="flex-shrink-0 text-2xl mx-auto p-2  border border-purple-700 text-white dark:text-black-400 rounded-lg shadow-md" v-show="activeTab === 'charts' || activeTab === 'charts'">
    <li @click="openChartsTab" :class="{ active: activeTab === 'charts' }">{% include "charts.html" %}</li>  
</div>
</div>
{% endblock body %}
  

