* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #BFD7EA;
  --secondary-color: #4DA167;
  --complimentary-color: #FE9920;
  --contrast-color: #071013;
  --light-color: #FCFFF7;
}

.container {
  background: #ffffff;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

nav a {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

nav {
  position: fixed;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: var(--secondary-color);
}

section {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all ease-in 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h1 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
}

/* Styles applied on trigger */
section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

section:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards 0.5s;
}

#subscriber_profile {
  background: var(--primary-color);
}
#MoMo_payment {
  background: var(--complimentary-color);
}

#car_service_form {
  background: var(--contrast-color);
}

#call_us {
  background: var(--light-color);
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
